@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url(../font/ProximaNova-Regular.ttf); }

@font-face {
  font-family: "Proxima-Nova-semiBold";
  src: url(../font/ProximaNova-Semibold.ttf); }

body, html, p {
  padding: 0;
  margin: 0; }

body {
  overflow: hidden; }

canvas {
  height: 100%;
  width: 100%;
  z-index: 0; }

h2 {
  font-size: 26px;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#ie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background: #000000;
  color: #ffffff;
  font-size: 2vw;
  font-family: "Proxima-Nova-Regular"; }

.ie__browser {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vh; }
  .ie__browser a {
    height: 50px;
    width: 50px;
    margin: 10px; }

.browser__chrome {
  background: url("../img/ie/chrome-logo.svg") center no-repeat;
  background-size: contain; }

.browser__opera {
  background: url("../img/ie/Opera_2015_icon.svg") center no-repeat;
  background-size: contain; }

.browser__firefox {
  background: url("../img/ie/logo-firefox.png") center no-repeat;
  background-size: contain; }

#loader {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000000; }
  #loader canvas {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; }

#desktop {
  opacity: 0;
  height: 100%;
  width: 100%; }

#menu input {
  display: none; }

#menu label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 60px;
  height: 30px;
  width: 40px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }
  #menu label div {
    height: 4px;
    width: 40px;
    background: #747171; }

#burger:checked + label {
  top: 0;
  left: 60px;
  -webkit-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
          transform: rotate(-360deg); }
  #burger:checked + label div {
    position: relative; }
  #burger:checked + label div:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 20px;
    top: 7px;
    left: -5px; }
  #burger:checked + label div:nth-child(2) {
    width: 30px; }
  #burger:checked + label div:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 20px;
    top: -7px;
    left: -5px; }

#menu {
  position: absolute;
  top: 50px;
  left: 0;
  font-family: "Proxima-Nova-Regular"; }

#menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 200px 0 0 0;
  visibility: hidden; }

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40px;
  height: 45px;
  background: rgba(136, 136, 136, 0.4);
  color: #ffffff;
  font-size: 26px;
  margin: 0 0 40px 0;
  cursor: pointer; }
  .menu__item:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 5px;
    background: rgba(116, 113, 113, 0.4);
    height: 10px;
    width: 100%;
    -webkit-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
            transform: skewX(45deg); }

#shar1, #shar2, #shar3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #ffffff;
  font-family: Proxima-Nova-Regular, sans-serif;
  z-index: 1000;
  visibility: hidden; }

.infoActive {
  -webkit-animation: openInfo 2s forwards 1s;
          animation: openInfo 2s forwards 1s; }

.infoClose {
  -webkit-animation: closedInfo 2s forwards;
          animation: closedInfo 2s forwards; }

.closed {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 30px;
  width: 30px; }
  .closed div:first-child {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background: #eeeeee;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .closed div:last-child {
    position: absolute;
    top: 50%;
    left: 0;
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background: #eeeeee;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

#aboutMe {
  position: absolute;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40%;
  background: rgba(127, 127, 127, 0.4);
  font-family: 'Proxima-Nova-Regular',sans-serif;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  font-size: 26px; }
  #aboutMe h2 {
    color: #3cdf6a; }

.aboutMe__photo {
  width: 160px;
  height: 160px;
  border-radius: 50%; }

.aboutMe__description {
  text-align: center;
  color: #ffffff;
  font-size: 18px; }

.aboutMe__skills {
  text-align: center;
  font-size: 26px;
  color: #4a8aff;
  text-transform: uppercase;
  margin: 15px 0 10px 0; }

.aboutMe__techno {
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  color: #4a8aff;
  margin: 15px 0 10px 0; }

.skills__name {
  color: #ffffff;
  font-size: 18px; }

.techno__list {
  text-align: center;
  font-size: 18px;
  color: #ffffff; }

#contact {
  position: absolute;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40%;
  background: rgba(127, 127, 127, 0.4);
  font-family: 'Proxima-Nova-Regular',sans-serif;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  font-size: 18px;
  color: #ffffff; }
  #contact h2 {
    color: #3cdf6a; }

.contact__linkedIn {
  text-decoration: none;
  color: #ffffff; }

.contact__phone, .contact__skype {
  margin-bottom: 15px; }

#portfolio {
  position: absolute;
  top: 0;
  left: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 40%;
  background: rgba(127, 127, 127, 0.4);
  font-family: 'Proxima-Nova-Regular',sans-serif;
  padding: 0 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: -webkit-linear-gradient(155deg, #717171 -10%, transparent 101%);
  background: -o-linear-gradient(155deg, #717171 -10%, transparent 101%);
  background: linear-gradient(-65deg, #717171 -10%, transparent 101%); }
  #portfolio h2 {
    color: #ffffff;
    margin-bottom: 0; }

.portfolio__jobs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 0; }

.job {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 200px;
  max-width: 260px;
  height: 180px;
  margin: 20px 5px 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 15rem;
          perspective: 15rem; }
  .job:hover .job__card--front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .job:hover .job__card--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  .job__card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px 5px 8px 8px;
    background: #ff7777;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-animation: color 10s infinite;
            animation: color 10s infinite; }
    .job__card--back {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg); }
  .job__image {
    height: calc( 80% - 10px);
    margin: 10px 10px 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .job__image1 {
      background: url("../img/portfolio/acnostia.jpg") center no-repeat;
      background-size: contain; }
    .job__image2 {
      background: url("../img/portfolio/gitHub-angular.jpg") center no-repeat;
      background-size: contain; }
    .job__image3 {
      background: url("../img/portfolio/facility_test.jpg") center no-repeat;
      background-size: contain; }
    .job__image4 {
      background: url("../img/portfolio/messenger.jpg") center no-repeat;
      background-size: contain; }
    .job__image5 {
      background: url("../img/portfolio/Todo-List.jpg") center no-repeat;
      background-size: contain; }
    .job__image6 {
      background: url("../img/portfolio/TeaserGuru.jpg") center no-repeat;
      background-size: contain; }
    .job__image7 {
      background: url("../img/portfolio/Autoparking2.jpg") center no-repeat;
      background-size: contain; }
  .job__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20%;
    width: 100%;
    background: #646464;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2em;
    font-family: 'Proxima-Nova-Regular', sans-serif; }
  .job__description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 10px;
    background: -webkit-linear-gradient(230deg, #6c6c6c, #dedede);
    background: -o-linear-gradient(230deg, #6c6c6c, #dedede);
    background: linear-gradient(220deg, #6c6c6c, #dedede);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .job__description__name {
      width: 100%;
      font-size: 14px;
      text-align: center; }
    .job__description__skill {
      text-align: center; }
      .job__description__skill p {
        font-size: 14px;
        margin: 0; }
    .job__description__data {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end; }
    .job__description__link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; }
      .job__description__link a {
        text-decoration: none;
        background: #888888;
        border-radius: 5px;
        border: 1px solid #747171;
        font-size: 10px;
        color: #ffffff;
        padding: 0 10px; }

.portfolio__jobs::-webkit-scrollbar {
  width: 0.4em; }

.portfolio__jobs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.portfolio__jobs::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  outline: 1px solid slategrey;
  border-radius: 15px; }

@media (min-width: 1400px) {
  #portfolio {
    padding: 0 5%; } }

@media (min-width: 2200px) {
  .job {
    margin: 20px 45px 0; } }
