body {
  overflow-x: hidden;
  overflow-y: scroll; }

#mobile {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url("../img/mobile/mobile_fon.png") center no-repeat;
  background-size: cover;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #mobile h2 {
    font-size: 6vw;
    text-align: center;
    margin: 5px; }
  #mobile header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 105px; }
    #mobile header .logo {
      height: 55px;
      width: 100%;
      background: url("../img/mobile/logo.png") center no-repeat;
      background-size: contain; }
  #mobile #mobile__aboutMe {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 25px 15px;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#a3c4df), to(#bcbec0));
    background: -webkit-linear-gradient(top, #a3c4df, #bcbec0);
    background: -o-linear-gradient(top, #a3c4df, #bcbec0);
    background: linear-gradient(180deg, #a3c4df, #bcbec0); }
  #mobile .mobile__aboutMe__description {
    text-align: center;
    font-size: 4.5vw; }
  #mobile .mobile__aboutMe__skills {
    text-align: center;
    font-size: 5.5vw;
    color: #10b97b;
    margin: 5px 0 5px 0; }
  #mobile .mobile__aboutMe__techno {
    text-align: center;
    font-size: 5.5vw;
    color: #10b97b;
    margin: 5px 0 5px 0; }
  #mobile .mobile__skills__name {
    font-size: 4vw;
    text-align: center; }
  #mobile .mobile__techno__list {
    font-size: 4vw;
    text-align: center; }
  #mobile footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 30px;
    padding: 10px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a3c4df), to(#bcbec0));
    background: -webkit-linear-gradient(top, #a3c4df, #bcbec0);
    background: -o-linear-gradient(top, #a3c4df, #bcbec0);
    background: linear-gradient(180deg, #a3c4df, #bcbec0); }
    #mobile footer .myPhoto__name {
      font-size: 4.5vw;
      margin: 0 0 5px 0;
      padding: 0; }
    #mobile footer div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #mobile footer div:first-child {
        width: 30%; }
      #mobile footer div:last-child {
        width: 70%; }
  #mobile #myPhoto {
    display: block;
    width: 50%;
    height: 55%;
    border-radius: 50%;
    background: url("../img/myPhoto3.jpg") center no-repeat;
    background-size: cover; }
  #mobile #mobile__contacts {
    width: 100%;
    height: auto;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 4vw; }
    #mobile #mobile__contacts li > div {
      display: inline-block;
      text-align: right;
      width: 26%;
      color: #10b97b; }
    #mobile #mobile__contacts a {
      text-decoration: none;
      color: #000000; }
  #mobile #mobile__slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px 0; }
  #mobile .mobile__slider-p {
    color: #3cdf6a;
    font-size: 6vw;
    text-align: center; }
  #mobile #slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100vw;
    height: 53.55vw; }
  #mobile #slider__image7 {
    background: url("../img/portfolio/parking.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider__image6 {
    background: url("../img/portfolio/guru.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider__image5 {
    background: url("../img/portfolio/popup.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider__image4 {
    background: url("../img/portfolio/gitHubApp.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider__image3 {
    background: url("../img/portfolio/facility.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider__image2 {
    background: url("../img/portfolio/chat.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider__image1 {
    background: url("../img/portfolio/acnostia.jpg") center no-repeat;
    background-size: cover; }
  #mobile #slider > div {
    position: absolute;
    width: 85%;
    height: 85%;
    visibility: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 50rem;
            perspective: 50rem; }
  #mobile .slider__card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 30px;
    background: -webkit-linear-gradient(230deg, #6c6c6c, #dedede);
    background: -o-linear-gradient(230deg, #6c6c6c, #dedede);
    background: linear-gradient(220deg, #6c6c6c, #dedede);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    #mobile .slider__card--front {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg); }
    #mobile .slider__card--back {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg); }
    #mobile .slider__card__name {
      width: 100%;
      font-size: 14px;
      text-align: center; }
    #mobile .slider__card__skill {
      text-align: center; }
      #mobile .slider__card__skill p {
        font-size: 14px;
        margin: 0; }
    #mobile .slider__card__data {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end; }
    #mobile .slider__card__link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      width: 100%; }
      #mobile .slider__card__link a {
        text-decoration: none;
        background: #888888;
        border-radius: 5px;
        border: 1px solid #747171;
        font-size: 10px;
        color: #ffffff;
        padding: 0 10px; }
  #mobile .active1, #mobile .active2, #mobile .active3 {
    opacity: 1 !important; }
  #mobile .cardActive .slider__card--front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  #mobile .cardActive .slider__card--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }

@media (min-width: 768px) {
  #mobile header {
    height: 150px; }
    #mobile header .logo {
      height: 90px; } }
