body {
  overflow-x: hidden;
  overflow-y: scroll; }

#mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url("../img/mobile/mobile_fon.png") center no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h2 {
  font-size: 18px;
  text-align: center;
  margin: 5px; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 105px; }
  header .logo {
    height: 55px;
    width: 100%;
    background: url("../img/mobile/logo.png") center no-repeat;
    background-size: contain; }

#mobile__aboutMe {
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 25px 15px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3c4df), to(#bcbec0));
  background: -webkit-linear-gradient(top, #a3c4df, #bcbec0);
  background: -o-linear-gradient(top, #a3c4df, #bcbec0);
  background: linear-gradient(180deg, #a3c4df, #bcbec0); }

.mobile__aboutMe__description {
  text-align: center;
  font-size: 16px; }

.mobile__aboutMe__skills {
  text-align: center;
  font-size: 18px;
  color: #10b97b;
  margin: 5px 0 5px 0; }

.mobile__aboutMe__techno {
  text-align: center;
  font-size: 18px;
  color: #10b97b;
  margin: 5px 0 5px 0; }

.mobile__skills__name {
  font-size: 14px;
  text-align: center; }

.mobile__techno__list {
  font-size: 14px;
  text-align: center; }

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3c4df), to(#bcbec0));
  background: -webkit-linear-gradient(top, #a3c4df, #bcbec0);
  background: -o-linear-gradient(top, #a3c4df, #bcbec0);
  background: linear-gradient(180deg, #a3c4df, #bcbec0); }
  footer .myPhoto__name {
    margin: 0 0 5px 0;
    padding: 0; }
  footer div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
    footer div:first-child {
      width: 30%; }
    footer div:last-child {
      width: 70%; }

#myPhoto {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/myPhoto3.jpg") center no-repeat;
  background-size: cover; }

#mobile__contacts {
  width: 100%;
  height: auto;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px; }
  #mobile__contacts li > div {
    display: inline-block;
    text-align: right;
    width: 55px;
    color: #10b97b; }
  #mobile__contacts a {
    text-decoration: none;
    color: #000000; }

#mobile__slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0; }

.mobile__slider-p {
  color: #3cdf6a;
  font-size: 18px;
  text-align: center; }

#slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100vw;
  height: 53.55vw; }
  #slider > div:first-child {
    background: url("../img/portfolio/Acnostia.jpg") center no-repeat;
    background-size: cover; }
  #slider div:nth-child(2) {
    background: url("../img/portfolio/chat.jpg") center no-repeat;
    background-size: cover; }
  #slider div:nth-child(3) {
    background: url("../img/portfolio/facility.jpg") center no-repeat;
    background-size: cover; }
  #slider div:nth-child(4) {
    background: url("../img/portfolio/gitHubApp.jpg") center no-repeat;
    background-size: cover; }
  #slider div:nth-child(5) {
    background: url("../img/portfolio/guru.jpg") center no-repeat;
    background-size: cover; }
  #slider div:nth-child(6) {
    background: url("../img/portfolio/parking.jpg") center no-repeat;
    background-size: cover; }
  #slider div:nth-child(7) {
    background: url("../img/portfolio/popup.jpg") center no-repeat;
    background-size: cover; }

#slider > div {
  position: absolute;
  width: 85%;
  height: 90%;
  overflow: hidden;
  border-radius: 30px;
  visibility: hidden; }

img {
  height: 100%;
  width: 100%; }

.active1, .active2, .active3 {
  opacity: 1 !important; }
