.menuActive{
  animation: menuAnimate 1s forwards;
}
@keyframes menuAnimate {
  from{
    visibility: hidden;
    transform: translateX(-100%);
  }
  to{
    visibility: visible;
    transform: translateX(0);
  }
}
.openInfo{
  animation: openInfo 0.5s forwards;
}
@keyframes openInfo {
  from{
    visibility: hidden;
    transform: translateX(0);
  }
  to{
    visibility: visible;
    transform: translateX(-100%);
  }
}

.menuDefault{
  animation: menuDefault 1s forwards;
}
@keyframes menuDefault {
  from{
    transform: translateX(0);
    visibility: visible;
  }
  to{
    transform: translateX(-100%);
    visibility: hidden;
  }
}
.closedInfo{
  animation: closedInfo 0.2s forwards;
}
@keyframes closedInfo {
  from{
    visibility: hidden;
    transform: translateX(-100%);
    //transform: translateX(0);
  }
  to{
    visibility: visible;
    transform: translateX(0);
    //transform: translateX(100%);
  }
}

@keyframes color {
   from{
     background: rgba(221,221,221,0.7);
   }
   50%{
     //background: #2c2c2c;
     background: rgba(44,44,44,0.4);
   }
   to{
     background: rgba(221,221,221,0.7);
   }
 }