body {
  overflow-x: hidden;
  overflow-y: scroll;
}
#mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: url("../img/mobile/mobile_fon.png") center no-repeat;
  background-size: cover;
  overflow: auto;
  box-sizing: border-box;
  h2 {
    font-size: 6vw;
    text-align: center;
    margin: 5px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 105px;
    .logo {
      height: 55px;
      width: 100%;
      background: url("../img/mobile/logo.png") center no-repeat;
      background-size: contain;
    }
  }
  #mobile__aboutMe {
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 25px 15px;
    border-radius: 30px;
    background: linear-gradient(180deg, #a3c4df, #bcbec0);
  }
  .mobile__aboutMe {
    &__description {
      text-align: center;
      font-size: 4.5vw;
    }
    &__skills {
      text-align: center;
      font-size: 5.5vw;
      color: #10b97b;
      margin: 5px 0 5px 0;
    }
    &__techno {
      text-align: center;
      font-size: 5.5vw;
      color: #10b97b;
      margin: 5px 0 5px 0;
    }
  }
  .mobile {
    &__skills__name {
      font-size: 4vw;
      text-align: center;
    }
    &__techno__list {
      font-size: 4vw;
      text-align: center;
    }
  }

  footer {
    display: flex;
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 30px;
    padding: 10px 0;
    background: linear-gradient(180deg, #a3c4df, #bcbec0);
    .myPhoto__name {
      font-size: 4.5vw;
      margin: 0 0 5px 0;
      padding: 0;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:first-child {
        width: 30%;
      }
      &:last-child {
        width: 70%;
      }
    }
  }
  #myPhoto {
    display: block;
    width: 50%;
    height: 55%;
    border-radius: 50%;
    background: url("../img/myPhoto3.jpg") center no-repeat;
    background-size: cover;
  }
  #mobile__contacts {
    width: 100%;
    height: auto;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 4vw;
    li > div {
      display: inline-block;
      text-align: right;
      width: 26%;
      color: #10b97b;
    }
    a {
      text-decoration: none;
      color: #000000;
    }
  }
  #mobile__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
  }
  .mobile__slider-p {
    color: #3cdf6a;
    font-size: 6vw;
    text-align: center;
  }
  #slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 53.55vw;
  }
  #slider {
    &__image11 {
      background: url("../img/portfolio/Real-estate_company-min.jpg") center no-repeat;
      background-size: cover;
    }
    &__image10 {
      background: url("../img/portfolio/2048-min.jpg") center no-repeat;
      background-size: cover;
    }
    &__image9 {
      background: url("../img/portfolio/specks-min.jpg") center no-repeat;
      background-size: cover;
    }
    &__image8 {
      background: url("../img/portfolio/Creative-Digital-Agencies.jpg") center no-repeat;
      background-size: cover;
    }
    &__image7 {
      background: url("../img/portfolio/parking.jpg") center no-repeat;
      background-size: cover;
    }
    &__image6 {
      background: url("../img/portfolio/guru.jpg") center no-repeat;
      background-size: cover;
    }
    &__image5 {
      background: url("../img/portfolio/popup.jpg") center no-repeat;
      background-size: cover;
    }
    &__image4 {
      background: url("../img/portfolio/gitHubApp.jpg") center no-repeat;
      background-size: cover;
    }
    &__image3 {
      background: url("../img/portfolio/facility.jpg") center no-repeat;
      background-size: cover;
    }
    &__image2 {
      background: url("../img/portfolio/chat.jpg") center no-repeat;
      background-size: cover;
    }
    &__image1 {
      background: url("../img/portfolio/acnostia.jpg") center no-repeat;
      background-size: cover;
    }
  }
  #slider > div {
    position: absolute;
    width: 85%;
    height: 85%;
    visibility: hidden;
    box-sizing: border-box;
    transform-style: preserve-3d;
    perspective: 50rem;
  }
  .slider__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 30px;
    background: linear-gradient(220deg, #6c6c6c, #dedede);
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: all 1s;
    &--front {
      transform: rotateY(0deg);
    }
    &--back {
      transform: rotateY(-180deg);
    }
    &__name {
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
    &__skill {
      text-align: center;
      p {
        font-size: 14px;
        margin: 0;
      }
    }
    &__data {
      align-self: flex-end;
    }
    &__link {
      display: flex;
      justify-content: space-around;
      width: 100%;
      a {
        text-decoration: none;
        background: #888888;
        border-radius: 5px;
        border: 1px solid #747171;
        font-size: 10px;
        color: #ffffff;
        padding: 0 10px;
      }
    }
  }
  .active1, .active2, .active3 {
    opacity: 1 !important;
  }

  .cardActive {
    .slider__card {
      &--front {
        transform: rotateY(180deg);
      }
      &--back {
        transform: rotateY(0);
      }
    }
  }

}
@media (min-width: 768px) {
 #mobile{
   header{
     height: 150px;
     .logo{
       height: 90px;
     }
   }
 }
}